.footer {
  background-color: $header-background;
  font-weight: 600;
}

.footer__nav-list {
  list-style: none;
  padding: 14px 7px 14px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__nav-item {
  padding: 18px 0;
}

.footer__nav-link {
  color: inherit;

  &:hover,
  &:focus {
    color: $button-hover;
  }

  &:active {
    color: $button-hover;
    opacity: 0.5;
  }
}
