.header {
  background-color: $header-background;
  font-weight: 600;
}

.header__nav {
  padding: 15px 7px 14px;
  display: flex;
  flex-wrap: wrap;
}

.header__logo-image {
  display: block;
}

.header__nav-list {
  list-style: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header__nav-item {
  padding: 18px 0;
  padding-left: 68px;
}

.header__nav-link {
  color: inherit;

  &:hover,
  &:focus {
    color: $button-active;
  }

  &:active {
    opacity: 0.5;
  }
}
