.footer {
  background-color: $header-background;
  font-weight: 600;
}

.footer__nav-list {
  list-style: none;
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__nav-item {
  padding: 18px 9px;
}

.footer__nav-link {
  color: inherit;

  &:hover,
  &:focus {
    color: $button-active;
  }

  &:active {
    opacity: 0.5;
  }
}
