.footer {
  background-color: $header-background;
  font-weight: 600;
}

.footer__nav-list {
  list-style: none;
  padding: 14px 0;
  margin: 0;
  margin-left: -47px;
  display: flex;
  flex-wrap: wrap;
}

.footer__nav-item {
  padding: 18px 9px;
  margin-left: 47px;
}

.footer__nav-link {
  color: inherit;

  &:hover,
  &:focus {
    color: $button-active;
  }

  &:active {
    opacity: 0.5;
  }
}
