// Colors
$general-black: #000000;
$general-white: #ffffff;
$general-text: #48494d;
$header-background: #f5f5f9;
$button-hover: #bd0c21;
$button-active: #d12136;
$button-border: #d7d9df;
$ghost-black: #00000033;
$dark-text: #1a212f;
$ghost-border: #48494d33;
$transparent-overlay: #58575799;
$modal-button: #9f9e9e;

// Viewports
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;

// Wrappers
$desktop-wrapper: 1182px;
