// Colors
$general-black: #000000;
$general-white: #ffffff;
$general-text: #48494d;
$semitransparent-text: #48494d80;
$header-background: #F5F5F9;
$button-hover: #BD0C21;
$button-active: #D12136;
$button-border: #D7D9DF;

// Viewports
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;

// Wrappers
$desktop-wrapper: 1182px;
