.main {
  &--vehicle-page {
    display: flex;
    flex-wrap: wrap;
    padding-top: 90px;
    padding-bottom: 83px;
    position: relative;
  }
}

.main__general-info,
.main__detailed-info {
  flex-grow: 1;
}
